!!! 5
%html
  %head
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }
    %title #{item[:title]} - #{@config[:site_name]}
    %link{ :rel => 'stylesheet', :href => '/style.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Open+Sans:400,600,700', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => 'http://dropthebit.com/demos/photobox/photobox/photobox.css', :type => 'text/css' }
    %script{ :src => '/scripts.js' }
  %body
    #header
      #title
        %a{ :href => '/' }= @config[:site_name]
    #container
      #navigation      
        %ul
          - get_parents(item).each do |parent|
            - if parent.identifier != '/'
              %li
                %a{ :href => relative_path_to(parent) }= parent[:title]    
          %li.current= item[:title]
        #actions  
          - if item.identifier != '/'       
            %a{ :href => '/' } Abmelden
            :javascript
              $(document).ready(function(){
                $('#logoff_link').click(function(){
                  $.removeCookie('username', { path: '/' });
                  $.removeCookie('password', { path: '/' });
                });
              });
          - if item[:type] == 'album'
            %a{ :href => 'upload' } Hochladen
      #content
        = yield
