.row
  .span12= yield
.row
  .span12
    #gallery
      - item.children.select { |i| i[:type] == 'album' or i[:type] == 'folder' }.sort_by { |i| i[:sort_order] }.each do |album|
        .album
          %h3
            = album[:title]
            %small= number_of_images_formatted(album) 
          .image-crop{ :style => "background-image: url('#{album[:sample][:preview]}');" }
            %a{ :href => "#{relative_path_to(album)}" }
